.footer-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.footer {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 10vh;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
}
